.app-container {
  display: flex;
  flex-direction: column;
  background-image:url(https://graphicriver.img.customer.envatousercontent.com/files/62172544/Communications+a+background590.jpg?auto=compress%2Cformat&fit=crop&crop=top&w=590&h=590&s=e0b2d5490fbb9405ab8f953380ff7947);
}

.content-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.navbar {
  width: 100%;
  Height: 60px;
  display:flex;
  flex-direction: row;
  position: inherit;
  background-color: #000000;
  color: white;
  margin: auto;
  padding-bottom :50px;
  padding-left: 30px;
}

.logo img {
  max-width: 90px; /* Set the maximum width of the logo */
}

.carousel {
  padding: 50px;
  width: 70%;
  height: auto;
}

.login-form {
  width: 30%;
  height: 50%;
  padding: 30px;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  color:white;
  background-color: black;
  background-blend-mode: darken;
  border-radius: 25px;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display:flex;
  flex-direction: row;
  position :absolute;
  right: 150px;
  color: white;
}
.navbar li {
  margin-left: 30px;
  margin-top: 15px;
  color: white;
   /* Adjust this value to control the spacing */
}
a{
  color:white;
  text-decoration: none;
  border-style:solid;
  border-color: white;
  border-width: 1px;
  padding:5px 25px;
  text-align: center;
  display: inline-block;
}
a:hover{
  color: black;
  background-color: white;
}
.field{
  display:flex;
  flex-direction: column;
}
button{
  margin-left: 25%;
  background-color: green;
  color:white;
  text-align: center;
  margin-top:25px;
  padding:10px;
  width:50%;
  border:none;

}
input{
  margin: 20px;
  width:auto;
  height:25px;
}
h2{
  text-align: center;
}