body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Apply some basic styling to the page */
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  /* Center-align the title */
div {
  text-align: center;
}

/* Make the table header red */
th {
  background-color: red;
  color: white; /* To make the text readable on the red background */
}

  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .incident-table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 200px;
  }
  
  .incident-table th, .incident-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .incident-table th {
    background-color: #f1f1f1;
    font-weight: bold;
  }
  
  .clickable-incident {
    cursor: pointer;
    color: rgb(0, 115, 255);
    text-decoration: underline;
  }
  
  .incident-description {
    background-color: #f7f7f7;
  }
  
  .incident-description h3 {
    margin-top: 10px;
  }
  
  .incident-description p {
    margin: 10px 0;
  }

  .centered-text {
    text-align: center;
  }