.registration-form {
  width: 500px;
  margin: auto;
  margin-top: -15px;
  padding: 30px;
  padding-right: 40px;
  padding-bottom: 15px;
  border: 1px solid #2e2c2c;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: inset -5px -5px rgba(238, 233, 233, 0.5);
  color: white;
}

.registration-form h1 {
  margin-left: 25%;
  margin-bottom: 20px;
  margin-top: 0px;
  text-emphasis: white;
}

.registration-form label {
  color: white;
  display: block;
  margin-bottom: 5px; /* Adjusted margin */
  font-weight: bold;
}

.registration-form select{
  width: 100%;
  height: 25px;
  color:black; /* Made all inputs and selects 100% width */
  padding: 15px;
  margin: 5px 0; /* Adjusted margin */
  border: 1px solid ;
  border-radius: 50px;
  box-sizing: border-box;
}
.registration-form input { /* Apply styles to both select and input */
  width: 100%;
  height: 25px;
  color:black; /* Made all inputs and selects 100% width */
  padding: 15px;
  margin: 5px 0; /* Adjusted margin */
  border: 1px solid ;
  border-radius: 50px;
  box-sizing: border-box; /* Include padding and border in the width */
}

.registration-form button {
  display: block;
  width: 50%;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: solid;
  background-color: black;
  border-color: white;
  color: white;
  border-width: 1px;
  border-radius: 10px;
  cursor: pointer;
}

.registration-form button:hover {
  color: black;
  background-color: whitesmoke;
  border: double;
  border-color: black;
}

.input {
  color: black;
  margin-left: 25px;
  margin-right: -70px;
  padding-left: 200px;
  width: 110px;
  border-radius:25px
}

